@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost.ttf");
}

@layer utilities {
  .mask-fade{
    mask-image: linear-gradient(53deg, rgba(255,255,255,0.1) 33%, rgba(255,255,255,0.2) 70%, rgba(255,255,255,0.3) 94%);
}
.mask-blur {
  mask-image: linear-gradient(53deg, rgba(255,255,255,0.4739145658263305) 30%, rgba(255,255,255,0.47) 63%);
}

.scroll-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scroll-none::-webkit-scrollbar {
  display: none; /* WebKit Browsers */
}

}